body {
  background-image: url("https://images.wallpaperscraft.ru/image/single/serdce_poverhnost_lyubov_85684_1280x720.jpg");
}

h1 {
  text-align: center;
  font-family: Festive;
}

h2 {
  margin-left: 150px;
  font-family: Festive;
}

iframe {
  /* display: block; */
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
